<!DOCTYPE html>
<html dir="ltr" lang="en-US">


{% include 'menu.html'%}

<section id="page-title">
<div class="container clearfix">
<h1>Stirrers</h1>
<br>
<a href="/lab?page=index" class="btn btn-primary">Back</a>
</div>
</section>

<section id="content">
<div class="content-wrap">
<div class="container clearfix">

<div class="postcontent nobottommargin col_last clearfix">
<div class="single-post nobottommargin">

<div class="entry clearfix">

<!-- <div class="entry-image">
<a href="#"><img src="/static/images/blog/full/bms.jfif" alt="Blog Single"></a>
</div> -->

<div class="entry-title">
<h2>Hot Plate Stirrers</h2>
</div>

<div class="entry-content notopmargin">

<br>

<h3>SPT HP 550 Prime</h3>	

<p>
	&bull;&nbsp;Powerful motor for constant speed delivery under varying load<br>
	&bull;&nbsp;Temperature range from ambient to 550C<br>
	&bull;&nbsp;Speed setting from 200 to 2200 RPM<br>
	&bull;&nbsp;Max loading Capacity of 20 litres<br>
	&bull;&nbsp;Highly resistant inert body, even to strong chemicals<br>
	&bull;&nbsp;Chemical resistant nano crystal glass ceramic top plate<br>
	&bull;&nbsp;Safe temperature circuit cut up to 575 C for greater reliability<br>
	&bull;&nbsp;Small footprint for saving valuable bench space<br>
	&bull;&nbsp;Pulse mode Clockwise-Counter Clockwise interchange<br>
	&bull;&nbsp;Highly temperature stable & chemically inert composite fibre body<br>
	&bull;&nbsp;Auto start power intermittent mode<br>
	&bull;&nbsp;Hot surface warning & Error indication features<br>
	&bull;&nbsp;Standard Accessories included:<br>
	&bull;&nbsp;1 high strength Magnetic Stir Bar (25 x 8 mm)<br>
</p>
<a href="#"><img src="/static/images/equipments/stirrers/550 prime.png"></a><br><br>
<a href="#"><img src="/static/images/equipments/stirrers/specs 550 prime.png"></a><br><br>
<a href="#"><img src="/static/images/equipments/stirrers/550 prime pic.png"></a><br><br>

</div>
</div>

<div class="line"></div>

</div>
</div>

<div class="sidebar nobottommargin clearfix">
<div class="sidebar-widgets-wrap">
<div class="widget widget_links clearfix">
<h2>Products</h2>

	<a href="/lab?page=Stirrers"><h4>Stirrers</h4></a>
	<ul>
		<li>&bull;<a href="/lab?page=Stirrers">Hot Plate Stirrers</a></li>
		<ul>
			<li>&bull;<a href="/lab?page=Stirrers">SPT HP 5M</a></li>
			<li>&bull;<a href="/lab?page=10m">SPT HP 10M</a></li>
			<li>&bull;<a href="/lab?page=15m">SPT HP 15M</a></li>
			<li>&bull;<a href="/lab?page=320">SPT HP 320</a></li>
			<li>&bull;<a href="/lab?page=550">SPT HP 550</a></li>
			<li>&bull;<a href="/lab?page=320a">SPT HP 320a</a></li>
			<li>&bull;<a href="/lab?page=550prime">SPT HP 550 Prime</a></li>
		</ul> <br>
		<li>&bull;<a href="#">Magnetic Stirrers</a></li>
		<li>&bull;<a href="#">Multiposition Stirrers</a></li>
		<li>&bull;<a href="#">Overhead Stirrers</a></li>
	</ul>

</div>

</div>
</div>
</div>
</div>
</section>

{% include 'footer.html'%}
</body>
</html>