<!DOCTYPE html>
<html dir="ltr" lang="en-US">


{% include 'menu.html'%}

<section id="page-title">
<div class="container clearfix">
<h1>Stirrers</h1>
<br>
<a href="/lab?page=index" class="btn btn-primary">Back</a>
</div>
</section>

<section id="content">
<div class="content-wrap">
<div class="container clearfix">

<div class="postcontent nobottommargin col_last clearfix">
<div class="single-post nobottommargin">

<div class="entry clearfix">

<!-- <div class="entry-image">
<a href="#"><img src="/static/images/blog/full/bms.jfif" alt="Blog Single"></a>
</div> -->

<div class="entry-title">
<h2>Hot Plate Stirrers</h2>
</div>

<div class="entry-content notopmargin">

<br>

<h3>SPT HP 5M</h3>	

<p>
	&bull;&nbsp;High performance multi position stirrer with 5 stirring positions with optimum use of laboratory space<br>
	&bull;&nbsp;Variable speed ranging from 300-1500 RPM in steps of 10 RPM<br>
	&bull;&nbsp;Timer setting from 1-999 mins and infinite<br>
	&bull;&nbsp;Heater temperature setting from ambient to 120C<br>
	&bull;&nbsp;Homogeneous temperature distribution across heating plate<br>
	&bull;&nbsp;Closed design allows easy cleaning and protects the equipments from accidental spills<br>
	&bull;&nbsp;Water proof heater with inbuilt safety cutoff<br>
	&bull;&nbsp;Non slip strength rubber feet<br>
</p>
<a href="#"><img src="/static/images/equipments/stirrers/5m.png"></a><br><br>
<a href="#"><img src="/static/images/equipments/stirrers/specs 5m.png"></a><br><br>
<a href="#"><img src="/static/images/equipments/stirrers/5m pic.png"></a><br><br>

</div>
</div>

<div class="line"></div>

</div>
</div>

<div class="sidebar nobottommargin clearfix">
<div class="sidebar-widgets-wrap">
<div class="widget widget_links clearfix">
<h2>Products</h2>

	<a href="/lab?page=Stirrers"><h4>Stirrers</h4></a>
	<ul>
		<li>&bull;<a href="/lab?page=Stirrers">Hot Plate Stirrers</a></li>
		<ul>
			<li>&bull;<a href="/lab?page=Stirrers">SPT HP 5M</a></li>
			<li>&bull;<a href="/lab?page=10m">SPT HP 10M</a></li>
			<li>&bull;<a href="/lab?page=15m">SPT HP 15M</a></li>
			<li>&bull;<a href="/lab?page=320">SPT HP 320</a></li>
			<li>&bull;<a href="/lab?page=550">SPT HP 550</a></li>
			<li>&bull;<a href="/lab?page=320a">SPT HP 320a</a></li>
			<li>&bull;<a href="/lab?page=550prime">SPT HP 550 Prime</a></li>
		</ul> <br>
		<li>&bull;<a href="#">Magnetic Stirrers</a></li>
		<li>&bull;<a href="#">Multiposition Stirrers</a></li>
		<li>&bull;<a href="#">Overhead Stirrers</a></li>
	</ul>

</div>

</div>
</div>
</div>
</div>
</section>

{% include 'footer.html'%}
</body>
</html>